@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pacifico";
  src: url("../../fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: #000;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

input {
  padding: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-btn::after {
  padding-left: 15px;
  content: url("../img/caret-down.png");
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222222;
}

body {
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Montserrat";
}

.logo-mobile .container-fluid .logo-mobile-1 {
  width: 196px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 2px solid #000000;
  margin: 0 auto;
  display: none;
}
.logo-mobile .container-fluid .logo-mobile-1 span {
  padding-left: 17px;
  color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.73em;
  font-size: 20px;
}

.header-mobile {
  display: none;
}
.header-mobile .container-fluid {
  background-color: #222222;
  color: #525252;
}
.header-mobile .container-fluid .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 5px 0;
  box-sizing: border-box;
}
.header-mobile .container-fluid .main-header .header-left {
  display: flex;
  align-items: center;
}
.header-mobile .container-fluid .main-header .header-left .header-welcome-icon {
  font-size: 14px;
  vertical-align: middle;
}
.header-mobile .container-fluid .main-header .header-left .header-welcome-text {
  font-family: "Open Sans";
  font-weight: 400;
  letter-spacing: 0.014em;
  margin-left: 2px;
  font-size: 14px;
  margin-left: 5px;
}
.header-mobile .container-fluid .main-header .header-mobile-right {
  display: flex;
  align-items: center;
}
.header-mobile .container-fluid .main-header .header-mobile-right-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.header-mobile .container-fluid .main-header .header-mobile-right-item-icon i {
  margin-right: 6px;
  vertical-align: bottom;
  font-size: 14px;
}
.header-mobile .container-fluid .main-header .header-mobile-right-item-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  display: none;
}
.header-mobile .container-fluid .main-header .header-mobile-right-item-text:last-child {
  padding-left: 15px;
}
.header-mobile .container-fluid .main-header .header-mobile-right-item:last-child {
  margin-right: 0px;
}

.header .container-fluid {
  background-color: #222222;
  color: #525252;
}
.header .container-fluid .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 0;
  box-sizing: border-box;
}
.header .container-fluid .main-header .header-left {
  display: flex;
  align-items: center;
}
.header .container-fluid .main-header .header-left .header-welcome-icon {
  font-size: 14px;
  vertical-align: middle;
}
.header .container-fluid .main-header .header-left .header-welcome-text {
  font-family: "Open Sans";
  font-weight: 400;
  letter-spacing: 0.014em;
  margin-left: 2px;
  font-size: 14px;
  margin-left: 5px;
}
.header .container-fluid .main-header .header-right {
  display: flex;
  align-items: center;
}
.header .container-fluid .main-header .header-right-item {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.header .container-fluid .main-header .header-right-item-icon i {
  margin-right: 6px;
  vertical-align: bottom;
  font-size: 14px;
}
.header .container-fluid .main-header .header-right-item-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
}
.header .container-fluid .main-header .header-right-item:last-child {
  margin-right: 0px;
}

.menu {
  padding: 20px 0 19px 0;
  border-bottom: 1px solid #dddddd;
}
.menu .container-fluid .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .container-fluid .navbar-left {
  width: 196px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 2px solid #000000;
}
.menu .container-fluid .navbar-left-logo span {
  padding-left: 17px;
  color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.73em;
  font-size: 20px;
}
.menu .container-fluid .navbar-center .menu-bar-inner {
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-title {
  display: none;
  background-color: #222222;
  color: white;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  padding: 0 15px;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item {
  margin-left: 28px;
  margin-right: 28px;
  display: inline-block;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item a {
  text-transform: uppercase;
  color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  font-style: bold;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item a i {
  color: #000000;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item a i:hover {
  color: #8262b5;
  text-decoration: none;
  transition: all 0.5s;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item a:hover {
  color: #8262b5;
  text-decoration: underline;
  transition: all 0.5s;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item:nth-child(2) {
  margin-left: 200px;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item:nth-child(3) {
  margin-right: 26px;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item:nth-child(4) {
  margin-right: 26px;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item:nth-child(5) {
  margin-right: 26px;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item:nth-child(6) {
  margin-right: 26px;
}
.menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item:last-child {
  margin-right: 87px;
}
.menu .container-fluid .navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .container-fluid .navbar-right-icon {
  margin-left: 34px;
}
.menu .container-fluid .navbar-right-icon i {
  margin-right: 30px;
  color: #000000;
  font-size: 22px;
  line-height: 22px;
  vertical-align: middle;
}
.menu .container-fluid .navbar-right-icon i:last-child {
  margin-right: 0px;
}
.menu .container-fluid .navbar-right #nav-icon {
  display: none;
}

.main-content .banner .banner-col {
  margin: -18px 0;
}
.main-content .banner .title-top {
  font-size: 16px;
  letter-spacing: 3px;
  color: #616161;
  font-weight: 500;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.main-content .banner .title-bot {
  font-weight: 600;
  font-size: 19px;
  color: #000000;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-style: normal;
}
.main-content .banner .shop-now {
  width: 108px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #8262b5;
  font-size: 14px;
  color: #ffffff;
}
.main-content .banner-left {
  padding: 0 -15px;
  height: 560px;
  width: 66.7%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  position: relative;
}
.main-content .banner-left .banner-inner {
  cursor: pointer;
  overflow: hidden;
  height: 100%;
}
.main-content .banner-left .banner-inner:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.main-content .banner-left img {
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  display: block;
  width: 100%;
  height: 100%;
}
.main-content .banner-left-detail {
  position: absolute;
  left: 65.6%;
  bottom: 153px;
  width: 100%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  text-align: center;
}
.main-content .banner-left-detail .title-special {
  font-size: 30px;
  color: #000000;
  margin-bottom: 15px;
  font-family: "Pacifico";
  font-weight: 700;
}
.main-content .banner-left-detail .button .shop-now {
  width: 106px;
  margin-left: 56.7%;
}
.main-content .banner-right {
  width: 33.3%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  height: 560px;
}
.main-content .banner-right-item {
  position: relative;
  padding: 18px 0;
}
.main-content .banner-right-item-inner {
  cursor: pointer;
  overflow: hidden;
}
.main-content .banner-right-item-inner:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.main-content .banner-right-item img {
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  display: block;
}
.main-content .banner-right-item:last-child {
  padding: 12px 0;
}
.main-content .banner-right-content {
  position: absolute;
  top: 50%;
  left: 30px;
}
.main-content .banner-right-content-content-top {
  transform: translateY(-70%);
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -o-transform: translateY(-70%);
  margin-left: 27px;
}
.main-content .banner-right-content-content-top .title-top {
  margin-top: 13px;
  letter-spacing: 3px;
  font-weight: 500;
}
.main-content .banner-right-content-content-top .title-bot {
  padding-top: 4px;
  font-size: 20px;
  font-weight: 700;
}
.main-content .banner-right-content-content-bot {
  transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
  -moz-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  -o-transform: translateY(-45%);
  margin-left: 9px;
}
.main-content .banner-right-content-content-bot .title-top {
  letter-spacing: 3px;
  font-weight: 500;
}
.main-content .banner-right-content-content-bot .title-bot {
  padding-top: 4px;
  font-size: 20px;
  font-weight: 700;
}
.main-content .banner-right-content-content-bot .shop-now-left {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #8262b5;
  font-size: 14px;
  color: #ffffff;
  width: 105px;
  padding-left: 5px;
  margin-top: 18px;
  text-align: center;
  margin-left: 1px;
}
.main-content .listing .content .title-top {
  margin-top: 60px;
  font-size: 14px;
  letter-spacing: 4px;
  color: #8262b5;
  font-weight: 900;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.main-content .listing .content .title-bot-content {
  margin-top: 0px;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-content .listing .content hr {
  margin-top: 29px;
  max-width: 47px;
  margin: 0px;
  border: 0.1px solid #8262b5;
}
.main-content .listing .main-listing {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.main-content .listing .main-listing .list-item {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 25px;
}
.main-content .listing .main-listing .list-item .card {
  width: 100%;
  height: 430px;
}
.main-content .listing .main-listing .list-item .card .imgBx {
  position: relative;
  width: 100%;
  height: 323px;
  overflow: hidden;
}
.main-content .listing .main-listing .list-item .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
.main-content .listing .main-listing .list-item .card .imgBx .add-cart {
  width: 118px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  transition: 1s;
  transform: translateY(60px);
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  color: #424242;
  font-weight: 600;
  font-family: "Montserrat";
}
.main-content .listing .main-listing .list-item .card .imgBx .add-cart:hover {
  color: #664c91;
  transition: 0s;
}
.main-content .listing .main-listing .list-item .card:hover {
  transition: all 0.5s;
  box-shadow: 10px 10px 6px -2px #bbbbbb;
}
.main-content .listing .main-listing .list-item .card:hover .imgBx img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.main-content .listing .main-listing .list-item .card:hover .imgBx .add-cart {
  transform: translateY(0);
}
.main-content .listing .main-listing .list-item .card .content .productName {
  margin-top: 20px;
}
.main-content .listing .main-listing .list-item .card .content .productName h3 {
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
}
.main-content .listing .main-listing .list-item .card .content .price-rating .rating {
  font-size: 11px;
  color: yellow;
  margin-top: -1px;
  letter-spacing: -0.1em;
}
.main-content .listing .main-listing .list-item .card .content .price-rating .price {
  margin-top: 11px;
  display: flex;
  letter-spacing: -0.04em;
}
.main-content .listing .main-listing .list-item .card .content .price-rating .price-before {
  color: #C2C2C2;
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat";
}
.main-content .listing .main-listing .list-item .card .content .price-rating .price-after {
  margin-left: 5px;
  color: #B4A1D3;
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat";
}
.main-content .slider {
  margin-top: 56px;
}
.main-content .slider .container-fluid {
  background-image: url("../../img/slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  height: 708px;
  width: 100%;
}
.main-content .slider .main-slider .container .content {
  padding-top: 67px;
  text-align: center;
}
.main-content .slider .main-slider .container .content .firts-content {
  margin: 13px 0px 13px 10px;
  font-size: 13px;
  letter-spacing: 0.4em;
  color: #8262b5;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.main-content .slider .main-slider .container .content .second-content {
  margin: 7px 0px 0px 0px;
  font-size: 24px;
  letter-spacing: 2px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.main-content .slider .main-slider .container .content hr {
  margin-top: 25px;
  width: 50px;
  border: 1px solid #8262b5;
}
.main-content .slider .main-slider .container .slider {
  margin-top: 50px;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item {
  width: 360px;
  height: 389px;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .imgBx {
  height: 200px;
  position: relative;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .imgBx .time {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #A1D1DD;
  top: 21px;
  left: 19px;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .imgBx .time-content {
  border-top: 1px solid white;
  border-bottom: 2px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: center;
  width: 48px;
  margin: 6px 5px 3px 5px;
  height: 48px;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .imgBx .time-content-day {
  margin-top: 10px;
  display: block;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .imgBx .time-content-day .top {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  margin: 0;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .imgBx .time-content-day .bot {
  margin-top: 0px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 4px 0px 0px 0px;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .content-slider {
  padding-top: 18px;
  background-color: #fff;
  height: 189px;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .content-slider .text {
  margin-left: 20px;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .content-slider .text .title {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat";
  cursor: pointer;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .content-slider .text .title:hover {
  color: #8262b5;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .content-slider .text .content-center {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #424242;
  font-weight: 400;
  font-family: "Open Sans";
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .content-slider .bottom {
  margin-top: 14.5px;
  font-size: 14px;
  line-height: 22px;
  color: #c0c0c0;
  display: flex;
  border-top: 0.5px solid #8f8f8f;
  padding: 15px 0px 15px 20px;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .content-slider .bottom span {
  margin-left: 5px;
}
.main-content .slider .main-slider .container .slider .list-item-slider .item .content-slider .bottom .comment {
  margin-left: 28px;
}
.main-content .slider .slick-list {
  margin: 0 -15px;
}
.main-content .slider .slick-initialized .slick-slide {
  display: block;
  padding: 0 15px;
}
.main-content .slider .slick-arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}
.main-content .slider .slick-next:before {
  color: #2cccff;
}
.main-content .slider .slick-prev:before {
  color: #2cccff;
}
.main-content .slider .slick-prev {
  left: 0;
}
.main-content .slider .slick-next {
  right: 0;
}
.main-content .slider .slick-dots {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 -5px;
}
.main-content .slider .slick-dots button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border-radius: 100rem;
  background-color: #8262b5;
  opacity: 0.5;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.main-content .slider .slick-active button {
  background-color: #8262b5;
  opacity: 1;
}
.main-content .slider .slick-dots li button:before {
  display: none;
}

.footer {
  width: 100%;
  background-color: #222222;
  color: #888888;
  box-sizing: border-box;
  overflow: hidden;
}
.footer-main {
  padding: 48px 0px 20px 0px;
}
.footer-main h4 {
  color: #f7f7f7;
  margin: 0 0 30px 0;
  font-size: 16px;
  margin-bottom: -3px;
}
.footer-main-line {
  width: 100%;
}
.footer-main .row {
  font-size: 14px;
  margin: 0px 0px;
}
.footer-main .row .about {
  width: 29%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  padding: 0px 0px;
}
.footer-main .row .about p {
  font-family: "Open Sans";
  border-top: 1px solid #393939;
  padding: 30px 0 0 0;
  margin: 30px 0 46px 0;
  padding: 20px 0 3px 0;
  max-width: 250px;
  line-height: 22px;
  letter-spacing: 0.019em;
}
.footer-main .row .about .footer-social i {
  margin: 0px 14.2px;
  font-size: 16px;
}
.footer-main .row .about .footer-social i:first-child {
  margin-left: 0px;
}
.footer-main .row .navigation {
  width: 33%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  margin-left: 44px;
}
.footer-main .row .navigation-group {
  display: flex;
  grid-column-gap: 124px;
  border-top: 1px solid #393939;
  margin: 30px 0 0 0;
  padding: 18px 0 0 0;
}
.footer-main .row .navigation-group ul {
  font-family: "Open Sans";
}
.footer-main .row .navigation-group ul li {
  padding: 9px 0px 7px 0;
}
.footer-main .row .navigation-group ul li a {
  color: #888888;
}
.footer-main .row .navigation-group ul li a:hover {
  color: #f7f7f7;
  text-decoration: underline;
}
.footer-main .row .contact {
  width: 22%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  margin-left: 112px;
}
.footer-main .row .contact ul {
  border-top: 1px solid #393939;
  margin: 30px 0 50px 0;
  padding: 20px 0 0 0;
}
.footer-main .row .contact ul li {
  display: block;
  padding: 0px 0px 1px 0px;
}
.footer-main .row .contact ul li .icon {
  margin-left: 5px;
}
.footer-main .row .contact ul li span {
  margin-left: 10px;
  line-height: 33px;
}
.footer-copyright {
  padding: 19px 0 22px 0px;
  border-top: 1px solid #393939;
}
.footer-copyright .row {
  justify-content: space-between;
  margin: 0px 0px;
  letter-spacing: 0.017em;
}
.footer-copyright .row span {
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans";
  margin-top: 8px;
}
.footer-copyright .row .payment i {
  color: #888888;
  font-size: 20px;
  font-size: 22px;
  margin-right: 1.25px;
}
.footer-copyright .row .payment i:last-child {
  margin-right: 0px;
}

@media all and (max-width: 1400px) {
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar {
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transform: translateX(110%);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100vh;
    width: 40vw;
    background-color: #fff;
    -webkit-box-shadow: -8px -7px 6px -2px #bbbbbb;
    -moz-box-shadow: -8px -7px 6px -2px #bbbbbb;
    box-shadow: -8px -7px 6px -2px #bbbbbb;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .close {
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-title {
    display: block;
    text-align: center;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #bbb;
    text-align: center;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item a {
    color: #525252;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .menu .container-fluid .navbar-right #nav-icon {
    display: inline;
  }
}
@media all and (max-width: 1024px) {
  .footer .container {
    margin: 0;
  }
  .footer .footer-main-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .footer .footer-main-group .container {
    padding: 0;
  }
  .footer .footer-main-group .about {
    width: 70%;
  }
  .footer .footer-main-group .about p {
    text-align: center;
    max-width: 100%;
  }
  .footer .footer-main-group .navigation {
    width: 100%;
    margin-left: 0px;
  }
  .footer .footer-main-group .navigation ul {
    margin: 0 auto;
  }
  .footer .footer-main-group .contact {
    width: 100%;
    margin-left: 0px;
  }
  .footer .footer-copyright {
    padding: 30px 0;
  }
  .footer .footer-copyright span {
    display: block;
    margin: auto;
  }
  .footer .footer-copyright .payment {
    display: none;
  }
}
@media all and (max-width: 950px) {
  .main-content .banner .banner-col {
    margin: -18px 0;
  }
  .main-content .banner-left {
    width: 100%;
  }
  .main-content .banner-left .banner-inner:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .main-content .banner-left-detail {
    width: 50%;
    left: 72%;
  }
  .main-content .banner-right {
    width: 100%;
    margin: 0;
  }
  .main-content .banner-right .banner-col {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
  }
  .main-content .banner-right-item {
    width: 49%;
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
  }
  .main-content .banner-right-item-inner:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .main-content .banner-right-item img {
    height: 350px;
    width: 100%;
  }
  .main-content .banner-right-item:last-child {
    padding: 0px 0px 0px 5px;
  }
  .main-content .banner-right-content-content-bot {
    transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -o-transform: translateY(-45%);
  }
  .main-content .listing .content .title-top {
    text-align: center;
    margin-top: -130px;
  }
  .main-content .listing .content .title-bot-content {
    text-align: center;
  }
  .main-content .listing .content hr {
    display: none;
  }

  .footer .container .footer-inner .row {
    margin: 0px 0px;
  }
  .footer .container .footer-inner .row .footer-col {
    width: 30%;
    margin-left: 150px;
  }
  .footer .container .footer-inner .row .footer-col-content {
    display: flex;
  }
  .footer .container .footer-inner .row .footer-col-content li {
    display: block;
    width: 110px;
    height: 10px;
    line-height: 10px;
    margin: 0;
    padding: 10px 0px;
    text-align: left;
  }
  .footer .container .footer-inner .row .footer-col-content .right {
    margin-left: 30px;
  }
  .footer .container .footer-inner .row .footer-col:first-child {
    width: 50%;
  }
  .footer .container .footer-inner .row .footer-col:last-child {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
@media all and (max-width: 768px) {
  .logo-mobile {
    border-bottom: 1px solid #dddddd;
  }
  .logo-mobile .container-fluid .logo-mobile-1 {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header-mobile {
    display: block;
  }

  .header {
    display: none;
  }

  .menu .container-fluid .navbar-left {
    display: none;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar {
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
    -moz-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    -o-transform: translateX(-110%);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 40vw;
    background-color: #fff;
    -webkit-box-shadow: -8px -7px 6px -2px #bbbbbb;
    -moz-box-shadow: -8px -7px 6px -2px #bbbbbb;
    box-shadow: -8px -7px 6px -2px #bbbbbb;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .close {
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-title {
    display: block;
    text-align: center;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid #bbb;
    text-align: center;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item a {
    color: #525252;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .menu .container-fluid .navbar-right-icon:first-child {
    position: absolute;
    top: 105px;
    left: 0px;
  }
  .menu .container-fluid .navbar-right #nav-icon {
    display: inline;
  }

  .main-content .banner-left-detail {
    left: 65%;
  }
  .main-content .banner-left-detail .title-special {
    font-size: 25px;
  }

  .footer .container .footer-inner .row {
    margin: 0px 0px;
  }
  .footer .container .footer-inner .row .footer-col {
    width: 30%;
    margin-left: 50px;
  }
  .footer .container .footer-inner .row .footer-col-content {
    display: flex;
  }
  .footer .container .footer-inner .row .footer-col-content li {
    display: block;
    width: 110px;
    height: 10px;
    line-height: 10px;
    margin: 0;
    padding: 10px 0px;
    text-align: left;
  }
  .footer .container .footer-inner .row .footer-col-content .right {
    margin-left: 30px;
  }
  .footer .container .footer-inner .row .footer-col:first-child {
    width: 50%;
  }
  .footer .container .footer-inner .row .footer-col:last-child {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
@media all and (max-width: 610px) {
  .footer .container .footer-inner .row {
    margin: 0px 0px;
  }
  .footer .container .footer-inner .row .footer-col {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }
  .footer .container .footer-inner .row .footer-col-content {
    display: flex;
  }
  .footer .container .footer-inner .row .footer-col-content .left {
    padding-left: 25%;
  }
  .footer .container .footer-inner .row .footer-col-content .right {
    margin-left: 50px;
  }
  .footer .container .footer-inner .row .footer-col:first-child {
    width: 100%;
    text-align: center;
  }
  .footer .container .footer-inner .row .footer-col:last-child {
    width: 100%;
    text-align: center;
  }
  .footer .container .footer-inner .last-page-left {
    margin: 0 auto;
  }
  .footer .container .footer-inner .last-page-right {
    display: none;
  }
}
@media all and (max-width: 576px) {
  .header-mobile {
    display: block;
  }
  .header-mobile .container-fluid .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 0;
    box-sizing: border-box;
  }
  .header-mobile .container-fluid .main-header .header-left .header-welcome-icon {
    font-size: 14px;
    vertical-align: middle;
  }
  .header-mobile .container-fluid .main-header .header-left .header-welcome-text {
    display: none;
  }
  .header-mobile .container-fluid .main-header .header-left .header-welcome-icon::after {
    margin-left: 6px;
    content: "Welcome";
  }
  .header-mobile .container-fluid .main-header .header-mobile-right-item-icon i {
    margin-right: 6px;
    vertical-align: bottom;
    font-size: 14px;
  }
  .header-mobile .container-fluid .main-header .header-mobile-right-item-text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
  }
  .header-mobile .container-fluid .main-header .header-mobile-right-item-text:last-child {
    padding-left: 15px;
  }
  .header-mobile .container-fluid .main-header .header-mobile-right-item:last-child {
    margin-right: 0px;
  }

  .menu .container-fluid .navbar-left {
    display: none;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar {
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
    -moz-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    -o-transform: translateX(-110%);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 50vw;
    background-color: #fff;
    -webkit-box-shadow: 8px -7px 6px -2px #bbbbbb;
    -moz-box-shadow: 8px -7px 6px -2px #bbbbbb;
    box-shadow: 8px -7px 6px -2px #bbbbbb;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .close {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-title {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item {
    display: block;
    width: 50vw;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
    text-align: center;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .navbar .nav-item a {
    color: #525252;
  }
  .menu .container-fluid .navbar-center .menu-bar-inner nav .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .menu .container-fluid .navbar-right-icon:first-child {
    position: absolute;
    top: 105px;
    left: 0px;
  }
  .menu .container-fluid .navbar-right #nav-icon {
    display: inline;
  }

  .main-content .banner .banner-col {
    margin: -18px 0;
  }
  .main-content .banner-left-detail {
    left: 65%;
  }
  .main-content .banner-left-detail .title-special {
    font-size: 15px;
  }
  .main-content .banner-left-detail .button .shop-now {
    width: 106px;
    margin-left: 35%;
  }
  .main-content .banner-right-item {
    width: 100%;
  }
  .main-content .banner-right-item:first-child {
    padding: 0px 0px 0px 0px;
  }
  .main-content .banner-right-item:last-child {
    margin-top: -10px;
    padding: 0px 0px 0px 0px;
  }
  .main-content .banner-right-content-content-bot {
    transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -o-transform: translateY(-45%);
  }
  .main-content .listing .content .title-top {
    text-align: center;
    margin-top: 200px;
  }
  .main-content .listing .content .title-bot-content {
    text-align: center;
  }
  .main-content .listing .content hr {
    display: none;
  }
}
@media all and (max-width: 376px) {
  .footer .footer-copyright {
    padding: 30px 0;
    font-size: 12px;
  }
  .footer .footer-copyright span {
    display: block;
    margin: 0 auto;
  }
  .footer .footer-copyright .payment {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
