.main-content {

    .banner {
        .banner-col {
            margin: -18px 0;
        }


        .title-top {
            font-size     : 16px;
            letter-spacing: 3px;
            color         : $text-baner-top;
            font-weight   : 500;
            font-family   : "Montserrat";
            text-transform: uppercase;
        }

        .title-bot {
            font-weight: 600;
            font-size  : 19px;

            color         : $color-logo;
            font-family   : "Montserrat";
            text-transform: uppercase;
            font-style    : normal;
        }

        .shop-now {
            width           : 108px;
            height          : 40px;
            line-height     : 40px;
            text-align      : center;
            background-color: #8262b5;
            font-size       : 14px;
            color           : #ffffff;
        }

        &-left {
            padding: 0 -15px;
            height : 560px;

            .banner-inner {
                cursor  : pointer;
                overflow: hidden;
                height  : 100%;

                &:hover {
                    img {
                        @include transformer (scale(1.1));
                    }
                }

            }

            img {
                @include transit (all, 0.5s);
                display: block;
                width  : 100%;
                height : 100%;
            }

            @include col (66.7%);
            position: relative;

            &-detail {
                position: absolute;
                left    : 65.6%;
                bottom  : 153px;
                width   : 100%;
                @include transformer (translate(-50%, 0));
                text-align: center;

                .title-special {
                    font-size: 30px;
                    color    : #000000;

                    margin-bottom: 15px;
                    font-family  : 'Pacifico';
                    font-weight  : 700;

                }

                .button {


                    .shop-now {
                        width      : 106px;
                        margin-left: 56.7%
                    }
                }

            }

        }

        &-right {
            @include col (33.3%);
            height: 560px;

            &-item {
                &-inner {
                    cursor  : pointer;
                    overflow: hidden;

                    &:hover {
                        img {
                            @include transformer (scale(1.1));
                        }
                    }
                }

                img {
                    @include transit (all, 0.5s);
                    display: block;
                }


                position: relative;
                padding : 18px 0;

                &:last-child {
                    padding: 12px 0;
                }



            }

            &-content {
                position: absolute;
                top     : 50%;
                left    : 30px;





                &-content-top {
                    @include transformer (translateY(-70%));

                    margin-left: 27px;

                    .title-top {
                        margin-top    : 13px;
                        letter-spacing: 3px;
                        font-weight   : 500;

                    }


                    .title-bot {
                        padding-top: 4px;
                        font-size  : 20px;
                        font-weight: 700;


                    }
                }

                &-content-bot {
                    @include transformer (translateY(-45%));
                    margin-left: 9px;

                    .title-top {
                        letter-spacing: 3px;
                        font-weight   : 500;
                    }

                    .title-bot {
                        padding-top: 4px;
                        font-size  : 20px;
                        font-weight: 700;
                    }

                    .shop-now-left {

                        height          : 40px;
                        line-height     : 40px;
                        text-align      : center;
                        background-color: #8262b5;
                        font-size       : 14px;
                        color           : #ffffff;
                        width           : 105px;
                        padding-left    : 5px;
                        margin-top      : 18px;
                        text-align      : center;
                        margin-left     : 1px;



                    }
                }

            }


        }
    }

    .listing {
        .content {
            .title-top {
                margin-top    : 60px;
                font-size     : 14px;
                letter-spacing: 4px;
                color         : #8262b5;
                font-weight   : 900;
                font-family   : "Montserrat";
                text-transform: uppercase;
            }

            .title-bot-content {
                margin-top    : 0px;
                font-size     : 24px;
                color         : #000000;
                font-weight   : 700;
                font-family   : "Montserrat";
                text-transform: uppercase;
                letter-spacing: 2px;


            }

            hr {
                margin-top: 29px;
                max-width : 47px;
                margin    : 0px;
                border    : 0.1px solid #8262b5;

            }



        }

        .main-listing {
            margin-top     : 50px;
            display        : flex;
            justify-content: center;
            align-content  : center;


            .list-item {
                position             : relative;
                width                : 100%;
                display              : grid;
                grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
                grid-gap             : 30px;
                grid-row-gap         : 25px;

                .card {
                    width : 100%;
                    height: 430px;


                    .imgBx {
                        position: relative;
                        width   : 100%;
                        height  : 323px;
                        overflow: hidden;

                        img {
                            position  : absolute;
                            top       : 0;
                            left      : 0;
                            width     : 100%;
                            height    : 100%;
                            object-fit: cover;
                            transition: 0.5s ease-in-out;
                        }

                        .add-cart {
                            width           : 118px;
                            height          : 40px;
                            position        : absolute;
                            background-color: #fff;
                            bottom          : 10px;
                            left            : 10px;
                            cursor          : pointer;
                            transition      : 1s;
                            transform       : translateY(60px);
                            font-size       : 12px;
                            line-height     : 40px;
                            text-align      : center;
                            color           : #424242;
                            font-weight     : 600;
                            font-family     : "Montserrat";

                            &:hover {
                                color     : #664c91;
                                transition: 0s;
                            }
                        }

                    }

                    &:hover {
                        .imgBx {
                            img {
                                @include transformer (scale(1.1));
                            }

                            .add-cart {
                                transform: translateY(0);
                            }


                        }

                        transition: all 0.5s;
                        box-shadow: 10px 10px 6px -2px rgba(187, 187, 187, 1);
                    }

                    .content {


                        .productName {
                            margin-top: 20px;

                            h3 {
                                font-size  : 14px;
                                color      : #000000;
                                font-weight: 600;
                                font-family: "Montserrat";
                            }
                        }

                        .price-rating {
                            .rating {
                                font-size     : 11px;
                                color         : yellow;
                                margin-top    : -1px;
                                letter-spacing: -0.1em;
                            }

                            .price {
                                margin-top    : 11px;
                                display       : flex;
                                letter-spacing: -0.04em;


                                &-before {
                                    color    : #C2C2C2;
                                    font-size: 15px;

                                    font-weight: 400;
                                    font-family: "Montserrat";


                                }

                                &-after {
                                    margin-left: 5px;
                                    color      : #B4A1D3;
                                    font-size  : 15px;

                                    font-weight: 600;
                                    font-family: "Montserrat";

                                }
                            }
                        }
                    }
                }






            }
        }
    }

    .slider {
        margin-top: 56px;


        .container-fluid {
            background-image : url('../../img/slider.png');
            background-repeat: no-repeat;
            background-size  : cover;
            background-color : red;
            height           : 708px;
            width            : 100%;
        }

        .main-slider {
            .container {
                .content {
                    padding-top: 67px;
                    text-align : center;


                    .firts-content {
                        margin        : 13px 0px 13px 10px;
                        font-size     : 13px;
                        letter-spacing: 0.4em;
                        color         : #8262b5;
                        font-weight   : 700;
                        font-family   : "Montserrat";
                        text-transform: uppercase;

                    }

                    .second-content {
                        margin        : 7px 0px 0px 0px;
                        font-size     : 24px;
                        letter-spacing: 2px;
                        color         : #000000;
                        font-weight   : 700;
                        font-family   : "Montserrat";
                        text-transform: uppercase;

                    }

                    hr {
                        margin-top: 25px;
                        width     : 50px;
                        border    : 1px solid #8262b5;
                    }
                }

                .slider {
                    margin-top: 50px;

                    .list-item-slider {
                        .item {
                            width : 360px;
                            height: 389px;

                            .imgBx {
                                height  : 200px;
                                position: relative;

                                img {
                                    width     : 100%;
                                    height    : 100%;
                                    object-fit: cover;

                                }

                                .time {
                                    width           : 60px;
                                    height          : 60px;
                                    position        : absolute;
                                    background-color: #A1D1DD;

                                    top : 21px;
                                    left: 19px;

                                    &-content {
                                        border-top   : 1px solid white;
                                        border-bottom: 2px solid white;
                                        border-left  : 1px solid white;
                                        border-right : 1px solid white;
                                        text-align   : center;

                                        width : 48px;
                                        margin: 6px 5px 3px 5px;
                                        height: 48px;

                                        &-day {
                                            margin-top: 10px;
                                            display   : block;

                                            .top {
                                                font-size  : 14px;
                                                color      : #ffffff;
                                                font-weight: 400;
                                                font-family: "Montserrat";
                                                margin     : 0;

                                            }

                                            .bot {
                                                margin-top : 0px;
                                                font-size  : 15px;
                                                color      : #ffffff;
                                                font-weight: 700;
                                                font-family: "Montserrat";
                                                margin     : 4px 0px 0px 0px;


                                            }
                                        }

                                    }


                                }
                            }


                            .content-slider {
                                padding-top     : 18px;
                                background-color: #fff;
                                height          : 189px;


                                .text {
                                    margin-left: 20px;

                                    .title {
                                        font-size  : 16px;
                                        color      : #000000;
                                        font-weight: 400;
                                        font-family: "Montserrat";
                                        cursor     : pointer;

                                        &:hover {
                                            color: #8262b5;
                                        }
                                    }

                                    .content-center {
                                        margin-top : 20px;
                                        font-size  : 14px;
                                        line-height: 22px;
                                        color      : #424242;
                                        font-weight: 400;
                                        font-family: "Open Sans";
                                    }


                                }

                                .bottom {
                                    margin-top : 14.5px;
                                    font-size  : 14px;
                                    line-height: 22px;
                                    color      : #c0c0c0;
                                    display    : flex;
                                    border-top : 0.5px solid $summary-color;
                                    padding    : 15px 0px 15px 20px;

                                    span {
                                        margin-left: 5px;
                                    }

                                    .comment {
                                        margin-left: 28px;
                                    }
                                }

                            }

                        }
                    }
                }
            }
        }

        .slick-list {
            margin: 0 -15px;
        }

        .slick-initialized .slick-slide {
            display: block;
            padding: 0 15px;

        }

        .slick-arrow {
            position       : absolute;
            top            : 40%;
            transform      : translateY(-50%);
            border         : none;
            width          : 50px;
            height         : 50px;
            display        : flex;
            justify-content: center;
            align-items    : center;
            font-size      : 20px;
            line-height    : 1;
            z-index        : 5;
            transition     : all 0.2s linear;

        }

        .slick-next:before {
            color: #2cccff;
        }

        .slick-prev:before {
            color: #2cccff;
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }

        .slick-dots {
            position       : absolute;
            bottom         : -50px;
            left           : 50%;
            transform      : translate(-50%, 0);
            display        : flex;
            align-items    : center;
            justify-content: center;
            gap            : 0 -5px;
        }

        .slick-dots button {
            font-size       : 0;
            width           : 13px;
            height          : 13px;
            border-radius   : 100rem;
            background-color: #8262b5;
            opacity         : 0.5;
            border          : none;
            outline         : none;
            transition      : all 0.2s linear;
        }

        .slick-active button {
            background-color: #8262b5;
            opacity         : 1;
        }

        .slick-dots li button:before {
            display: none;
        }





    }
}