// Color
$main-color       : #FFFFFF;
$border-color     : #0ba7c9;
$bg-banner        : #f0f0f0;
$bg-item          : #f5f5f5;
$bg-footer        : #f2f2f2;
$bg-header        : #222222;
$title-color      : #000;
$title-bg-color   : #ebebeb;
$summary-color    : #8f8f8f;
$mini-title-color : #bababa;
$text-white-color : #fff;
$text-header-color:#525252;
$color-logo       :#000000;
$color-menu       :#8262b5;
$border-bottom    :#dddddd;
$text-baner-top   :#616161;
$bg-footer        :#222222;


$text-white  : #fff;
$text-white-2: #f7f7f7;
$text-gray   : #c0c0c0;
$text-gray-2 : #888888;
$text-gray-3 : #222222;