@media all and (max-width:1400px) {
    .menu {

        .container-fluid {
            .navbar {
                &-center {
                    .menu-bar-inner {
                        nav {
                            .navbar {
                                @include transit(all, .5s);
                                @include transformer(translateX(110%));
                                display           : block;
                                position          : fixed;
                                top               : 0;
                                right             : 0;
                                z-index           : 999;
                                height            : 100vh;
                                width             : 40vw;
                                background-color  : #fff;
                                -webkit-box-shadow: -8px -7px 6px -2px rgba(187, 187, 187, 1);
                                -moz-box-shadow   : -8px -7px 6px -2px rgba(187, 187, 187, 1);
                                box-shadow        : -8px -7px 6px -2px rgba(187, 187, 187, 1);



                                .close {
                                    font-size: 25px;
                                    position : absolute;
                                    top      : 5px;
                                    right    : 5px;
                                    color    : white;
                                }

                                .nav-title {
                                    display   : block;
                                    text-align: center;


                                }

                                .nav-item {
                                    display      : block;
                                    width        : 100%;
                                    height       : 40px;
                                    line-height  : 40px;
                                    margin       : 0;
                                    padding      : 10px 15px;
                                    border-bottom: 1px solid #bbb;
                                    text-align   : center;


                                    a {
                                        color: $text-header-color;
                                    }
                                }
                            }

                            .active {
                                @include transformer(translateX(0));
                            }
                        }


                    }
                }



                &-right {
                    #nav-icon {
                        display: inline;
                    }
                }
            }
        }
    }
}

@media all and (max-width:1200px) {}

@media all and (max-width:1024px) {
    .footer {

        .container {
            margin: 0;
        }

        .footer-main-group {
            display       : flex;
            flex-direction: column;
            width         : 100%;
            align-items   : center;
            text-align    : center;

            .container {
                padding: 0;
            }

            .about {
                width: 70%;

                p {
                    text-align: center;
                    max-width : 100%;
                }
            }

            .navigation {
                width      : 100%;
                margin-left: 0px;

                ul {
                    margin: 0 auto;
                }
            }

            .contact {
                width      : 100%;
                margin-left: 0px;
            }
        }

        .footer-copyright {
            padding: 30px 0;

            span {
                display: block;
                margin : auto;
            }

            .payment {
                display: none;
            }

        }
    }
}

@media all and (max-width:950px) {
    .main-content {
        .banner {
            .banner-col {
                margin: -18px 0;
            }



            &-left {
                width: 100%;

                .banner-inner {
                    &:hover {
                        img {
                            @include transformer (scale(1.1));
                        }
                    }

                }



                &-detail {
                    width: 50%;
                    left : 72%;




                }

            }

            &-right {
                width : 100%;
                margin: 0;


                .banner-col {
                    display  : flex;
                    margin   : 0 -15px;
                    flex-wrap: wrap;


                }

                &-item {
                    @include col (49%);


                    &-inner {



                        &:hover {
                            img {
                                @include transformer (scale(1.1));
                            }
                        }
                    }

                    img {
                        height: 350px;
                        width : 100%;

                    }

                    &:last-child {

                        padding: 0px 0px 0px 5px;
                    }

                }

                &-content {
                    &-content-bot {
                        @include transformer (translateY(-45%));


                    }

                }


            }
        }

        .listing {
            .content {


                .title-top {
                    text-align: center;
                    margin-top: -130px;
                }

                .title-bot-content {
                    text-align: center;
                }

                hr {
                    display: none;
                }
            }
        }
    }

    .footer {



        .container {


            .footer-inner {


                .row {
                    margin: 0px 0px;

                    .footer-col {
                        width      : 30%;
                        margin-left: 150px;

                        &-content {
                            display: flex;

                            li {
                                display: block;
                                width  : 110px;

                                height     : 10px;
                                line-height: 10px;
                                margin     : 0;
                                padding    : 10px 0px;
                                text-align : left;
                            }

                            .right {
                                margin-left: 30px;
                            }
                        }

                        &:first-child {
                            width: 50%;
                        }

                        &:last-child {
                            width     : 100%;
                            text-align: center;
                            margin-top: 20px;
                        }
                    }
                }


            }
        }
    }

}

@media all and (max-width:768px) {
    .logo-mobile {
        .container-fluid {
            .logo-mobile-1 {
                display      : block;
                margin-top   : 10px;
                margin-bottom: 10px;
            }
        }

        border-bottom: 1px solid $border-bottom;
    }

    .header-mobile {
        display: block;
    }

    .header {
        display: none;

    }

    .menu {


        .container-fluid {
            .navbar {
                &-left {
                    display: none;
                }

                &-center {
                    .menu-bar-inner {
                        nav {
                            .navbar {
                                @include transit(all, .5s);
                                @include transformer(translateX(-110%));
                                display           : block;
                                position          : fixed;
                                top               : 0;
                                left              : 0;
                                z-index           : 999;
                                height            : 100vh;
                                width             : 40vw;
                                background-color  : #fff;
                                -webkit-box-shadow: -8px -7px 6px -2px rgba(187, 187, 187, 1);
                                -moz-box-shadow   : -8px -7px 6px -2px rgba(187, 187, 187, 1);
                                box-shadow        : -8px -7px 6px -2px rgba(187, 187, 187, 1);



                                .close {
                                    font-size: 25px;
                                    position : absolute;
                                    top      : 5px;
                                    right    : 5px;
                                    color    : white;
                                }

                                .nav-title {
                                    display   : block;
                                    text-align: center;


                                }

                                .nav-item {
                                    display      : block;
                                    width        : 100%;
                                    height       : 40px;
                                    line-height  : 40px;
                                    margin       : 0;
                                    padding      : 10px 0px;
                                    border-bottom: 1px solid #bbb;
                                    text-align   : center;


                                    a {
                                        color: $text-header-color;
                                    }
                                }
                            }

                            .active {
                                @include transformer(translateX(0));
                            }
                        }


                    }
                }

                &-right {




                    &-icon:first-child {
                        position: absolute;
                        top     : 105px;
                        left    : 0px;
                    }




                    #nav-icon {
                        display: inline;
                    }





                }
            }
        }
    }

    .main-content {
        .banner {
            &-left {
                &-detail {
                    left: 65%;

                    .title-special {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    .footer {
        .container {
            .footer-inner {
                .row {
                    margin: 0px 0px;

                    .footer-col {
                        width      : 30%;
                        margin-left: 50px;

                        &-content {
                            display: flex;

                            li {
                                display: block;
                                width  : 110px;

                                height     : 10px;
                                line-height: 10px;
                                margin     : 0;
                                padding    : 10px 0px;
                                text-align : left;
                            }

                            .right {
                                margin-left: 30px;
                            }
                        }

                        &:first-child {
                            width: 50%;
                        }

                        &:last-child {
                            width     : 100%;
                            text-align: center;
                            margin-top: 20px;
                        }
                    }
                }


            }
        }
    }


}

@media all and (max-width:610px) {
    .footer {



        .container {


            .footer-inner {


                .row {
                    margin: 0px 0px;

                    .footer-col {
                        width      : 100%;
                        margin-top : 20px;
                        margin-left: 0px;
                        text-align : center;

                        &-content {
                            display: flex;

                            .left {
                                padding-left: 25%;
                            }

                            .right {
                                margin-left: 50px;
                            }
                        }

                        &:first-child {
                            width     : 100%;
                            text-align: center;
                        }

                        &:last-child {
                            width     : 100%;
                            text-align: center;

                        }


                    }
                }

                .last-page {
                    &-left {
                        margin: 0 auto;
                    }

                    &-right {
                        display: none;
                    }
                }


            }
        }
    }
}

@media all and (max-width:576px) {
    .header-mobile {
        display: block;

        .container-fluid {


            .main-header {
                @include flex();
                padding: 5px 0 5px 0;

                box-sizing: border-box;


                .header-left {
                    .header-welcome-icon {
                        font-size     : 14px;
                        vertical-align: middle;
                    }

                    .header-welcome-text {
                        display: none;
                    }

                    .header-welcome-icon::after {
                        margin-left: 6px;
                        content    : "Welcome";
                    }



                }

                .header-mobile-right {
                    &-item {
                        &-icon {

                            i {
                                margin-right  : 6px;
                                vertical-align: bottom;
                                font-size     : 14px;

                            }

                        }

                        &-text {

                            font-family: 'Open Sans';
                            font-weight: 400;
                            font-size  : 15px;


                        }

                        &-text:last-child {
                            padding-left: 15px;
                        }
                    }

                    &-item:last-child {
                        margin-right: 0px;

                    }




                }
            }


        }

    }

    .menu {


        .container-fluid {
            .navbar {
                &-left {
                    display: none;
                }

                &-center {
                    .menu-bar-inner {
                        nav {
                            .navbar {
                                @include transit(all, .5s);
                                @include transformer(translateX(-110%));
                                display           : block;
                                position          : fixed;
                                top               : 0;
                                left              : 0;
                                z-index           : 999;
                                height            : 100vh;
                                width             : 50vw;
                                background-color  : #fff;
                                -webkit-box-shadow: 8px -7px 6px -2px rgba(187, 187, 187, 1);
                                -moz-box-shadow   : 8px -7px 6px -2px rgba(187, 187, 187, 1);
                                box-shadow        : 8px -7px 6px -2px rgba(187, 187, 187, 1);



                                .close {
                                    font-size: 20px;
                                    position : absolute;
                                    top      : 5px;
                                    right    : 5px;
                                    color    : white;
                                }

                                .nav-title {
                                    display   : block;
                                    text-align: center;
                                    font-size : 20px;

                                }

                                .nav-item {
                                    display      : block;
                                    width        : 50vw;
                                    height       : 40px;
                                    line-height  : 40px;
                                    margin       : 0;
                                    padding      : 10px 0;
                                    border-bottom: 1px solid #bbb;
                                    text-align   : center;


                                    a {
                                        color: $text-header-color;
                                    }
                                }
                            }

                            .active {
                                @include transformer(translateX(0));
                            }
                        }


                    }
                }

                &-right {




                    &-icon:first-child {
                        position: absolute;
                        top     : 105px;
                        left    : 0px;
                    }




                    #nav-icon {
                        display: inline;
                    }





                }
            }
        }
    }


    .main-content {
        .banner {
            .banner-col {
                margin: -18px 0;
            }



            &-left {
                &-detail {
                    left: 65%;

                    .title-special {
                        font-size: 15px;
                    }

                    .button {
                        .shop-now {
                            width      : 106px;
                            margin-left: 35%
                        }
                    }
                }
            }

            &-right {





                &-item {
                    width: 100%;


                    &:first-child {
                        padding: 0px 0px 0px 0px;
                    }

                    &:last-child {
                        margin-top: -10px;
                        padding   : 0px 0px 0px 0px;
                    }

                }

                &-content {


                    &-content-bot {
                        @include transformer (translateY(-45%));

                    }

                }


            }
        }

        .listing {
            .content {


                .title-top {
                    text-align: center;
                    margin-top: 200px;
                }

                .title-bot-content {
                    text-align: center;
                }

                hr {
                    display: none;
                }
            }
        }
    }

}


@media all and (max-width:376px) {
    .footer {


        .footer-copyright {
            padding  : 30px 0;
            font-size: 12px;

            span {
                display: block;
                margin : 0 auto;
            }

            .payment {
                display: none;
            }

        }
    }
}